node_modules/
dist/
dist-ssr/
*.log
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Specific to this project
backup_old_root/
errors.txt
errors2.txt
hts-cache/
hts-log.txt
error.log
framerusercontent.com/
frameship-backend.account-ba7.workers.dev/
knitknots.framer.website/
cdn.shopify.com/
